/* Martini elements */
    .tutorial-wrapper {
        position: relative;
        margin: 0 auto;
        width: 300px;
    }

    .tutorial {
        position: absolute;
        top: 0px;
        left: -300px;
        width: 607px;
        height: 600px;
        background-color: rgba(10,10,10,0.7);
        padding: 1.5em;
        color: white;
        h1{
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
        }
    }
    .arrow img {
        vertical-align: middle;
    }
    .right.arrow {
        text-transform: uppercase;
    }
    #rotatingGlobe {
        width: 320px;
        margin: 100px auto 0;
    }

    // Navigation
    nav.martini {
        display: block;
        text-align: center;
        color: $gray;
        ul {
            float: none;
        }
    }

/* GIFs */
#overviewVisGIF {
    background: url('../images/gif/overview-faded.gif');
    width:616px;
    height:542px;
    margin:0 auto;
    position: relative;
    top: 80px;
    z-index: -1;
}
#timelineVisGIF {
    background: url('../images/gif/timeline1.gif');
    width:892px;
    height:548px;
    margin:0 auto;
    position: relative;
    top: 0px;
    z-index: -1;
}