/* Martini elements */
    .tutorial-wrapper {
        position: relative;
        margin: 0 auto;
        width: 300px;
    }

    .tutorial {
        position: relative;
        top: 30px;
        left: -280px;
        width: 237px;
        height: 500px;
        background-color: rgba(10,10,10,0.7);
        padding: 1.5em;
        color: white;
        h1{
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
        }
    }
    .arrow img {
        vertical-align: middle;
    }
    .left.arrow, .right.arrow {
        text-transform: uppercase;
    }
    #rotatingGlobe {
        width: 320px;
        margin: 100px auto 0;
    }
    .tut-gif {
        position: absolute;
        top: 106px;
        left: 350px;
        z-index: -1;
    }

    // Navigation
    nav.martini {
        display: block;
        text-align: center;
        color: $gray;
        position: absolute;
        bottom: 0;
        top: auto;
        ul {
            float: none;
        }
    }

/* Tutorial page specific */    
.martini {
    footer {
        margin-top: 5em;
    }
}

/* GIFs */
#overviewVisGIF {
    background: url('../images/gif/world91.gif');
    width:700px;
    height:476px;
    margin:0 auto;
}
#timelineVisGIF {
    background: url('../images/gif/timeline.gif');
    width:700px;
    height:448px;
    margin:0 auto;
}
#detailVisGIF {
    background: url('../images/gif/details.gif');
    width:700px;
    height:383px;
    margin:0 auto;
}
#dataVisGIF {
    background: url('../images/gif/data.gif');
    width:700px;
    height:345px;
    margin:0 auto;
}