#overview {
	#overviewVis{
		width: 960px;
		margin: 0 auto 7em;
		position: relative;
		top: 5em;
	}
	.sphere{
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
  }
 .graticule {
	  fill: none;
	  stroke: #777;
	  stroke-width: .5px;
    stroke-opacity: .5;
	}
	.country {
	  stroke: #666;
	  stroke-width: 1px;
	  transition: all 0.5s;

	  &:hover {
	    fill: #777;
	  }
	}

	/* Tooltips */
  .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    //create a small triangle extender for the tooltip
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        background: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    //style northward tooltips differently
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    //no arrow
    .d3-tip.none:after {
        opacity: 0;
    }

    /* Legend */
      .legend {
                background-color: #fff;
                width: 350px;
                height: 50px;
               /* border: 1px solid #bbb; */
                margin:0 auto;
            }

            #quantileLegend .colorlegend-labels {
                font-size: 11px;
                fill: black;
            }

}