#timeline {
// general
	#crisisInfo{
		width: 40%;		
		margin-left: 6em;
		padding: 0;
		height: 8em;
	}
	#crisisTitle{
		margin: 1em 0 0;
		color: $darkGray;
		padding: 0;
		width:100%;
		position: relative;
	}
	.crisisDate{
		margin: 0em 0 0;
		color: $darkBlue;
		h4{
			margin:0.5em 0;
		}
		position: absolute;
		top: 6px;
		right: 20px;
	}
	#crisisStory{
		margin: 0em 0 0;
		color: $darkGray;
	}
// headings
	h3 {
		font-size: 1.5em;
		color: $red;
		margin-bottom: 0.3em;
	}
	.storySource{
		display: block;
		text-align:right;
		margin-top:0.3em;
	}
	.storyTriangle{
		fill: $darkGray;
	}
	#dataSourceSelect {
		float:right;
		color: $darkGray;
	}
// detail path
	.traditionalMediaPath {
		stroke: $red;
	}
// // dot
// 	.traditionalMediaDot {
// 		fill: darken($red, 12%);
// 	}
// // detail area
// 	.traditionalMediaArea {
// 		fill: $red;
// 	}
// y axis
	.x.axis, .y.axis {
		fill: $gray;
	}
// hoverline
	.hover-line {
		pointer-events: none;
	}
// Story Points
	.storyline{
		stroke: $gray;
		stroke-dasharray: 15 25;
		stroke-dashoffset: 12;
	}

/* Tooltips */
	.d3-tip {
		margin-left: 12px;
	  line-height: 1;
	  font-weight: bold;
	  padding: 12px;
	  background: rgba(0, 0, 0, 0.8);
	  color: #fff;
	  border-radius: 2px;
	  pointer-events: none;
	}

	/* Creates a small triangle extender for the tooltip */
	.d3-tip:after {
	  box-sizing: border-box;
	  display: inline;
	  font-size: 10px;
	  width: 100%;
	  line-height: 1;
	  color: rgba(0, 0, 0, 0.8);
	  position: absolute;
	  pointer-events: none;
	}

	/* Northward tooltips */
	.d3-tip.n:after {
	  content: "\25BC";
	  margin: -1px 0 0 0;
	  top: 100%;
	  left: 0;
	  text-align: center;
	}

	/* Eastward tooltips */
	.d3-tip.e:after {
	  content: "\25C0";
	  margin: -4px 0 0 0;
	  top: 50%;
	  left: -8px;
	}

	/* Southward tooltips */
	.d3-tip.s:after {
	  content: "\25B2";
	  margin: 0 0 1px 0;
	  top: -8px;
	  left: 0;
	  text-align: center;
	}

	/* Westward tooltips */
	.d3-tip.w:after {
	  content: "\25B6";
	  margin: -4px 0 0 -1px;
	  top: 50%;
	  left: 100%;
	}

}